<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- For adding Bootstrap in you HTML file -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <title>Temperature Result</title>

    <!--Reference to css style-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div>
        <table>
            <thead>
            <tr>
                <th>Your result:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="text: ${temperatureResult}">
                <td th:text="${text}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>